{% extends 'base.html' %}

{% block content %}


<!--NAVBAR-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="{{ url_for('home') }}">Irishhomes Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active font-weight-bold" href="#home.html">Review</a>
    </div>
  </div>
</nav>

main container
<div class="container p-5">

    <div>
        <div class="col mt-5">

            <div id="accordion">
                {% for target_address, missingValues in missing_values.items() %}
                  <div class="card">
                    <div class="card-header" id="heading{{loop.index}}">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#colapse{{loop.index}}" aria-expanded="false" aria-controls=colapse{{loop.index}}>
                            {{missingValues}}
                            <span class="badge badge-danger">{{ missingValues|length }}</span>
                        </button>
                      </h5>
                    </div>
                        {% for missingVal in missingValues %}
                    <div id=colapse{{loop.index}} class="collapse" aria-labelledby="heading{{loop.index}}" data-parent="#accordion">
                      <div class="card-body">
                            <ul>
                                <li>{{missingVal}}</li>
                            </ul>
                          {% endfor %}
                      </div>

                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>


{% endblock %}